
#about{
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-1);
    background-image: url('../images/about/bg-about.png');
    min-height: calc(100vh - 96px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 32px;

    .title{
        color: var(--color-neutral-0);

        &::before{
            background-color: var(--color-secondary-1);
        }
    }

    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .about-image{
            width: clamp(300px, 50vw, 500px);
        }

        .about-info{
            padding: 24px;
            background-color: var(--color-primary-2);
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            h3{
                color: var(--color-neutral-0);
                font-size: 1.8rem;
                margin-bottom: 4px;

                span{
                    color: var(--color-secondary-1);
                }
            }

            p{
                color: var(--color-neutral-0);
                font-size: 1rem;

                span{
                    color: var(--color-secondary-1);
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    #about{
        margin: 4%;
        justify-content: center;

        .about-content{
            flex-direction: row;
            align-items: center;
            gap: 48px;
        }

        .about-image{
            order: 1;
        }

        .about-info:first-child{
            order: 2;
        }

        .about-info:last-child{
            order: 3;
        }
    }
}